
<html>

<body>
<div>
    <form method="post" action="/add">
    <input type="text" name="text" placeholder="Введите сообщение" />
    <input type="text" name="tag" placeholder="Тэг">
    <button type="submit">Добавить</button>
</form>
</div>
<div>
    <form method="post" action="/addRoads">
        <input type="text" name="locationRoad" placeholder="Введите локацию" />
        <input type="text" name="dateRoad" placeholder="Введите время" />
        <input type="text" name="valueRoad" placeholder="Значение">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>
    <form method="post" action="/addWeather">
        <input type="text" name="locationWeather" placeholder="Введите локацию" />
        <input type="text" name="dateWeather" placeholder="Введите время" />
        <input type="text" name="valueWind" placeholder="Значение ветер">
        <input type="text" name="valueRain" placeholder="Значение облачность" />
        <input type="text" name="valueOvercast" placeholder="Значение дождь" />
        <input type="text" name="valueTemp" placeholder="Значение температура">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>
    <form method="post" action="/all">
        <button type="submit">Удалить</button>
    </form>
</div>
<div>Список сообщений</div>
<form method="post" action="/filter">
    <input type="text" name="filter">
    <button type="submit">Найти</button>
</form>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}
<div>Список дорог</div>
{{#roads}}
    <div>
        <b>{{id}}</b>
        <span>{{locationRoad}}</span>
        <span>{{dateRoad}}</span>
        <span>{{valueRoad}}</span>
    </div>
{{/roads}}
<div>Список погодных условий</div>
{{#weathers}}
    <div>
        <b>{{id}}</b>
        <span>{{locationWeather}}</span>
        <span>{{dateWeather}}</span>
        <span>{{valueWind}}</span>
        <span>{{valueRain}}</span>
        <span>{{valueOvercast}}</span>
        <span>{{valueTemp}}</span>
    </div>
{{/weathers}}
</body>
</html>